body{
    font-family: 'Poppins', arial;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px 40px;
    grid-template-areas:
    "red green blue";
    height:300px;
}

#to-sell,
#revenue,
#revenue_t{
    display:grid;
    font-size:150%;
    text-align: center;
}

#output-tv-types{
    display: grid;
    margin:20px;
}

#wrapTvLayout{
    background-color: #efefef;
    border:1px solid #ddd;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin:20px 0;
    padding:20px;
    white-space: pre;
}